body {
    background-color: #334433;
    color: #BBBBBB;
}
h1, h2{
    color: #6666AA;
    font-weight: bold;
    clear: both;
}
.highlight{
    color: #BBBB66;
    font-weight: bold;
}
.italic{
    font-style: italic;
}

.links{
    color: #CC3333;
}
#mood span{
    display: block;
    text-align: center;
}
#mood{
    list-style: none;
    
    
}
#mood img{
    height: 240px;
}
#mood li{
    float: left;
    padding: 10px;
}