.container {
    background-color: #334433;
    color: #BBBBBB;
    margin: auto;
    padding: 10px;
    width: 70%;
}
h1, h2{
    color: #6666AA;
    font-weight: bold;
    clear: both;
}
.highlight{
    color: #BBBB66;
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.links{
    color: #CC3333;
}


#mood{
    list-style: none;
}
#mood span{
    display:
    text-align: center;
}
#mood img{
    height: 240px;
}
#mood li{
    float: left;
    padding: 10px;
}