.container{
    background-color: rgb(184, 105, 187);
}
.menu{
    list-style-type: none;
    color: #BBBBBB;
    /*for flexbox:*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*main axis - horizontal*/
    align-items: baseline; /*cross axis - vertical*/
    /*align-content: center; both axes*/
}
.menu li{
    background-color: #000066;
    border: solid #FFFFFF;
    border-radius: 1px;
    float: left;
}
.menu a{
    text-decoration: none;
    color: #BBBBBB;
}
.menu img {
    border-radius: 50%;
    transition: 2s;
}s
.menu a:hover img{
    border-radius: 0%;
}
.menu .hide{
    display: none;
}
.menu a:hover .hide{
    display: flex;
}